<!DOCTYPE html>
<html>
<head>
    <title>Over - Laurens Smid portfolio</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="template/layout.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="index.php">Home</a></li>
        <li><a href="about.php" class="buttonActivated">Over</a></li>
        <li><a href="kennis.php">Kennis</a></li>
        <li><a href="projecten.php">Projecten</a></li>
        <li><a href="blog.php">Blog</a></li>
        <li><a href="contact.php">Contact</a></li>
    </ul>
</nav>
<div id="wrapper">
    <div class="container">
        <p>Mijn naam is Laurens Smid, ik ben 18 jaar oud en woon in Poortugaal, een dorp naast Rotterdam. <br>Ik zit in het tweede jaar van de opleiding Applicatie en mediaontwikkeling op het Zadkine te Rotterdam, een opleiding van 4 jaar op MBO niveau 4, als ik klaar ben met deze opleiding wil ik een HBO opleiding gaan doen en programmeur worden. <br>Dit portfolio is mijn eerste project in mediaontwikkeling.</p>
        <p>Op deze website ga ik een blog bijhouden waar ik mijn voortgang met programmeren en coderen neer ga zetten.</p>
        <p>Wees vrij om mijn voortgang te volgen en twijfel niet om contact op te nemen.</p>
    </div>
</div>
<!-- START BLOCK : SESSION -->
<div class="logoutButton">
    <a href="logout.php">Uitloggen</a>
</div>
<div class="blockSESSION">
    <a href="panel_check.php">{GEBRUIKERSNAAM}</a>
</div>
<!-- END BLOCK : SESSION -->
<!-- START BLOCK : LOGINREG -->
<div id="loginButton">
    <a href="login.php">Inloggen</a>
</div>
<div id="registerButton">
    <a href="register.php">Registreren</a>
</div>
<!-- END BLOCK : LOGINREG -->
</body>
</html>	