<!DOCTYPE html>
<html>
<head>
    <title>Home - Laurens Smid portfolio</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="template/layout.css" type="text/css">
</head>
<body>
<nav>
    <ul>
        <li><a href="index.php" class="buttonActivated">Home</a></li>
        <li><a href="about.php">Over</a></li>
        <li><a href="kennis.php">Kennis</a></li>
        <li><a href="projecten.php">Projecten</a></li>
        <li><a href="blog.php">Blog</a></li>
        <li><a href="contact.php">Contact</a></li>
    </ul>
</nav>
<div id="homeContainer">
    <h1>Laurens Smid</h1>
    <hr>
    <h2>Portfolio</h2>
</div>
<!-- START BLOCK : SESSION -->
<div class="logoutButton">
    <a href="logout.php">Uitloggen</a>
</div>
<div class="blockSESSION">
    <a href="panel_check.php">{GEBRUIKERSNAAM}</a>
</div>
<!-- END BLOCK : SESSION -->
<!-- START BLOCK : LOGINREG -->
<div id="loginButton">
    <a href="login.php">Inloggen</a>
</div>
<div id="registerButton">
    <a href="register.php">Registreren</a>
</div>
<!-- END BLOCK : LOGINREG -->
</body>
</html>